.orderForm {
  padding: 50px 20px;
  background-color: #f9f9f9;
  text-align: center;
}

.sectionTitle {
  font-size: 2.5rem;
  margin-bottom: 30px;
  color: #333;
  font-weight: bold;
  text-transform: uppercase;
}

form {
  max-width: 600px;
  margin: 0 auto;
  text-align: left;
}

.formGroup {
  margin-bottom: 20px;
}

label {
  display: block;
  font-size: 1rem;
  color: #333;
  margin-bottom: 8px;
}

input {
  width: 100%;
  padding: 10px;
  font-size: 1rem;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.ctaBtn {
  background-color: #f39c12;
  color: white;
  padding: 15px 30px;
  font-size: 1.2rem;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 100%;
}

.ctaBtn:hover {
  background-color: #e67e22;
}

/* Responsive Design */
@media (max-width: 768px) {
  form {
    padding: 0 20px;
  }
}
