/* Basic styles for the navbar */
.navbar {
  background-color: #003459; /* Navy blue background */
  color: white;
  padding: 10px 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  position: sticky;
  top: 0;
  z-index: 1000;
  transition: background-color 0.3s ease;
}

.navbar:hover {
  background-color: #003459; /* Darker navy blue on hover */
}

.navContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
}

.logoContainer {
  display: flex;
  align-items: center;
}

.logo {
  width: 60px;
  height: 60px;
  margin: 0 20px;
  transition: transform 0.3s ease;
}

.logo:hover {
  transform: rotate(360deg); /* Cool rotate effect on hover */
}

.brandTitle {
  font-size: 1.8rem;
  font-weight: bold;
  color: #f39c12; /* Gold color for the brand title */
}

.toggleButton {
  display: none;
  font-size: 1.8rem;
  cursor: pointer;
  color: #f39c12; /* Gold color for the hamburger icon */
}

.navLinks {
  margin-top: 20px;
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
}

.navLinks ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.navLinks li {
  margin: 0 15px;
}

.navLinks a {
  color: white;
  text-decoration: none;
  font-size: 1.2rem;
  padding: 10px 0;
  transition: color 0.3s ease;
  position: relative;
}

.navLinks a::before {
  content: '';
  position: absolute;
  width: 0;
  height: 3px;
  bottom: -5px;
  left: 0;
  background-color: #f39c12; /* Gold color for underline */
  visibility: hidden;
  transition: all 0.3s ease-in-out;
}

.navLinks a:hover::before {
  visibility: visible;
  width: 100%;
}

.navLinks a:hover {
  color: #f39c12; /* Gold color on hover */
}

.active {
  display: block;
}

/* Responsive Design */
@media (max-width: 768px) {
  .toggleButton {
    display: block;
  }

  .navLinks {
    display: none;
    position: absolute;
    top: 60px;
    right: 0;
    background-color: #003459; /* Navy blue background */
    width: 100%;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: height 0.3s ease;
  }

  .navLinks ul {
    flex-direction: column;
  }

  .navLinks.active {
    display: flex;
  }

  .navLinks li {
    margin: 10px 0;
  }
}

@media (max-width: 480px) {
  .brandTitle {
    font-size: 1.5rem;
  }

  .toggleButton {
    font-size: 1.5rem;
  }

  .navLinks a {
    font-size: 1rem;
  }

  .navLinks li {
    margin: 8px 0;
  }
}
