.hero {
  background-image: url('/assets/hero1.JPEG'); /* Update this with your image path */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 90vh;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
  position: relative;
  overflow: hidden; /* Ensures no overflow of background image */
}

.hero::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(
    0,
    0,
    0,
    0.5
  ); /* Dark overlay for better text readability */
  z-index: 1;
}

.promoBanner span.green {
  color: #28a745; /* Attractive green color */
  font-weight: bold; /* Make the text bold */
  font-size: 1.2em; /* Slightly larger text size */
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
  animation: pulse 1.5s infinite; /* Add a pulsing effect */
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}

/* Promo Banner */
.promoBanner {
  cursor: pointer;
  position: absolute;
  top: 0;
  width: 100%;
  background-color: #f39c12; /* Gold background for the promo */
  color: #003459; /* Navy blue text */
  padding: 10px;
  font-size: 1rem;
  text-align: center;
  font-weight: bold;
  z-index: 3;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2); /* Slight shadow for depth */
}

.promoLink {
  color: #003459; /* Navy blue text for the link */
  text-decoration: none;
  transition: color 0.3s ease;
}

.promoLink:hover {
  color: #ffffff; /* White text on hover */
}

.heroContent {
  position: relative;
  z-index: 2;
  max-width: 800px;
  padding: 0 20px;
  margin-bottom: 90px;
}

.heroTitle {
  font-size: 3rem; /* Increased font size */
  margin-bottom: 5px;
  font-weight: 800; /* Increased font weight */
  text-transform: uppercase;
  /* color: #f39c12;  */
  color: #ffffff;
  background-color: rgba(
    0,
    52,
    89,
    0.8
  ); /* Navy Blue semi-transparent background */
  padding: 15px 20px;
  border-radius: 10px;
  display: inline-block;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3); /* Subtle box shadow */
}

.heroSubtitle {
  font-size: 1.5rem;
  /* margin-top: 50px; */
  margin-bottom: 30px;
  color: #ffffff; /* White text for subtitle */
}

.ctaBtn {
  background-color: #f39c12; /* Gold color */
  color: white; /* White text */
  padding: 15px 30px;
  text-decoration: none;
  font-size: 1.2rem;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  cursor: pointer;
}

.ctaBtn:hover {
  background-color: #e67e22; /* Darker gold on hover */
  color: #003459; /* Navy Blue text on hover */
}

/* Responsive Design */
@media (max-width: 768px) {
  .heroTitle {
    font-size: 2.4rem;
  }

  .heroSubtitle {
    font-size: 1.2rem;
  }

  .ctaBtn {
    font-size: 1rem;
    padding: 12px 25px;
  }

  .promoBanner {
    font-size: 0.9rem; /* Smaller font on tablets */
    padding: 8px;
  }
}

@media (max-width: 480px) {
  .heroTitle {
    font-size: 1.5rem;
    padding: 10px 15px;
  }

  .heroSubtitle {
    font-size: 1rem;
  }

  .ctaBtn {
    font-size: 0.9rem;
    padding: 10px 20px;
  }

  .promoBanner {
    font-size: 0.8rem; /* Smaller font on mobile */
    padding: 6px;
  }
}
